@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
}
.main {
     background-color:blanchedalmond;
     padding-bottom: 10px;
     width: 90%;
     margin: auto;
}
.cv-heading-container  {
     text-align: center;
     padding-top: 5em;
     padding-bottom: 1.2em;
     border-bottom: 2px solid black;
     /* width: 700px; */
     margin: 0px  80px;
} 
.profile-container {
    padding-top: 1em;
    padding-bottom: 1.2em;
    margin: 0px  80px;
    border-bottom: 2px solid black;
}
.profile-container h3 {
    text-decoration: underline;
}
.profile-container p {
    padding-top: 10px;
}
.Education-container {
    margin: 0px 80px;
}
.Education-container h3 {
    text-decoration: underline;
}
table {
    width:80%;
}
td {
    padding: 20px 0px;
}
tr .data {
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.experience-container {
    margin: 0px 80px;
}
.flex-item {
    padding: 10px 0px;
}
.flex-item h4, .experience-container h3 {
    /* text-decoration: underline; */
    border-bottom: 2px solid black;
}
.strong {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.experience-container ul {
    margin-top: 10px;
}